# General
.DS_Store
.vscode
.idea
*.log

# Flutter
.dart_tool/
.packages
.pub/
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
android/local.properties
.flutter-plugins
.flutter-plugins-dependencies

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
ENV/
env/
dist/
*.egg-info/
.mypy_cache
.pytest_cache
